.listening-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
  }
  
  .listening-circle {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #007bff;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .listening-circle:nth-child(1) {
    animation-delay: 0s;
  }
  .listening-circle:nth-child(2) {
    animation-delay: 0.3s;
  }
  .listening-circle:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.5);
    }
  }
  